<hmtl>
  <body>
    <% @leaves.each do |l| %>
      Title: <%= l.title %><br>
      Start Date:  <%= l.start_date %><br>
      End Date:  <%= l.end_date %><br>
      Description: <%= l.description %> <br>
      ----------------------------------------<br>
    <% end %>
  </body>
</html>
